// custom imports
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700');

.html-studio-style {
  // resolution
  width: 1080px;
  height: 1920px;
  line-height: 1920px;
  // spacing
  text-align: center;
  // color
  background-color: #FDF9EF;
}

.html-studio-spacing {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.header-style {
  color: #3D92CA !important;
  font-size: 3em;
  font-family: Rubik, sans-serif;
}

.header-style, .footer-style {
  background-color: #241F20;
  height: 100px;
}

.body-style {
  background-color: #4a4a4a;
}

.button-style {
  margin-top: 50px;
}

// bulma import
@import "node_modules/bulma/bulma";
