////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// main ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.html-studio-style {
  // resolution
  width: 1920px;
  height: 1080px;
  line-height: 1080px;
  // spacing
  text-align: center;
}

.html-studio-spacing {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Imbue;
  src: url("../fonts/Imbue-Medium.ttf") format("truetype");
}

.has-font-1 {
  font-family: WorkSans, sans-serif;
  font-size: 5em;
  padding-bottom: 50px;
}

.has-font-2 {
  font-family: Imbue, sans-serif;
  font-size: 4em;
  padding-top: 100px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// colors //////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-off-white {
  background-color: #FDF9EF;
}

.has-off-white-text {
  color: #FDF9EF;
}

.has-black {
  background-color: #241F20;
}

.has-black-text {
  color: #241F20;
}

.has-sky-blue {
  background-color: #3D92CA;
}

.has-hyper-blue {
  background-color: #002BFF;
}

.has-ver-blue {
  background-color: #00F4EF;
}

.has-orange {
  background-color: #FF3C24;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// body ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.header-style {
  color: #3D92CA !important;
  font-size: 3em;
  font-family: Imbue, sans-serif;
}

.header-style, .footer-style {
  background-color: #241F20;
  height: 100px;
}

.body-style {
  background-color: #4a4a4a;
}

.button-style {
  margin-top: 50px;
}

// bulma import
@import "node_modules/bulma/bulma";
